@mixin commons {

    .common-no-space-image-button {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .v-upload .v-button {
        background-image: url(images/components/file_upload_panel/file_attach.png);
        margin: 0px 5px 0px 5px;
        background-position: center;
        background-repeat: no-repeat;
    }
}