@mixin commons {

    .common-no-space-image-button {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .v-upload .v-button {
        background-image: url(images/components/file_upload_panel/file_attach.png);
        margin: 0px 5px 0px 5px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .common-float-right {
        float:right;
    }

    .common-margin-all {
        margin: 5px;
    }

    .common-padding-all {
        padding: 5px;
    }

    .common-margin-bottom {
        margin-bottom: 5px;
    }

    .common-margin-top-big {
        margin-top: 15px;
    }

    .common-padding-top {
        padding-top: 5px;
    }
    
     .common-padding-bottom {
        padding-bottom: 5px;
    }

    .common-padding-top-big {
        padding-top: 15px;
    }

    .common-margin-left {
        margin-left: 5px;
    }
}