.idea/
**/target/
**/.idea/
**.iml
nb-configuration.xml
.metadata/
**/.settings/
**.project
**.classpath
/target/
**/VAADIN/gwt-unitCache/
**/VAADIN/widgetsets/
.svn/
/payway-client-modules/payway-advertising/payway-advertising-data/target/
/payway-client-modules/payway-advertising/payway-advertising-model/target/
/payway-client-modules/payway-advertising/payway-advertising-webapp/target/
/payway-messaging/payway-messaging-core/target/
/payway-messaging/payway-messaging-message/target/
/payway-messaging/payway-messaging-model/target/
/payway-messaging/payway-messaging-hazelcast/target/
/payway-client-modules/payway-commons-webapp/target/
/payway-messaging/payway-messaging-model-advertising/target/
/payway-messaging/payway-messaging-message-advertising/target/
/payway-media/payway-media-core/target/
/payway-media/payway-media-xuggler/target/
/payway-vaadin-addons/payway-vaadin-textfield-digit-addon/payway-vaadin-textfield-digit-demo/target/
/payway-vaadin-addons/payway-vaadin-textfield-digit-addon/payway-vaadin-textfield-digit/target/