@mixin content-configuration-view {

    //var's
    $panelBreadCrumbsHeight: 35px;

    .content-cfg-view {
        //background: green;
        height: 100%;
        width: 100%;
    }

    .content-cfg-panel-bread-crumbs {
        //background: yellowgreen;
        height: $panelBreadCrumbsHeight;
        width: 100%;
    }

    .content-cfg-panel-file-grid {
        //background: darkorange;
        width: 100%;
        height: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-bottom: $panelBreadCrumbsHeight;
        margin-bottom: -1 * $panelBreadCrumbsHeight;
    }

    .v-label-grid-file-explorer-row-label-common {
        display: inline !important;
        white-space:nowrap;
    }

    .v-label-grid-file-explorer-row-label-folder {
        font-weight: bold;
    }

    .v-label-grid-file-explorer-row-label-file {
        //
    }

    .v-table-grid-file-explorer .v-table-cell-content {
        height: 30px;
    }

    .content-configuration-download-button-hide {
        display: none;
    }
}