@mixin main-view {

    //var's
    $sidebarWidth: 200px;
    $panelHeaderHeight: 60px;
    $panelFooterHeight: 20px;


    .main-view {
        height: 100%;
        width: 100%;
        background: green;
    }

    .main-panel-left {
        background: yellowgreen;
        height: 100%;
        width: 200px;

        /*
        //animation
        -webkit-animation: valo-animate-in-slide-right 700ms 700ms backwards;
        -moz-animation: valo-animate-in-slide-right 700ms 700ms backwards;
        animation: valo-animate-in-slide-right 700ms 700ms backwards;
        */
    }

    .main-panel-right {
        background: aqua;
        height: 100%;
        width: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: $sidebarWidth;
        margin-right: -1 * $sidebarWidth;
    }

    .main-panel-header
    {
        background: gray;
        height: $panelHeaderHeight;
        width: 100%;
    }

    .main-panel-content {
        background: darkorange;
        width: 100%;
        height: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-bottom: $panelHeaderHeight + $panelFooterHeight;
        margin-bottom: -1 * ($panelHeaderHeight + $panelFooterHeight);
    }

    .main-panel-footer {
        background: gray;
        height: $panelFooterHeight;
        width: 100%;
    }

    .main-user-menu {
        float:right;
        margin: 5px;
    }

    .main-panel-full {
        height: 100%;
        width: 100%;
    }
}