@mixin tab-sheet-property-view {

    //var's
    $panelTabsHeight:305px;

    .tab-property-file-preview {
        //background: darkorange;
        width: 100%;
        height: 100%;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-bottom: $panelTabsHeight;
        margin-bottom: -1 * ($panelTabsHeight);
    }
}