@mixin tab-sheet-property-view {

    //var's
    $btnSavePropertyHeight: 40px;
    $btnSavePropertyBottomPadding: 5px;
    $btnSavePropertyRightPadding: 5px;
    $panelBtnPropertyHeight: $btnSavePropertyHeight + $btnSavePropertyBottomPadding;

    .tab-property-layout-btn-save {
        float: right;
        height: 40px;
    }

    .tab-property-layout-save{
        //background: green;
        width: 100%;
        padding-right: $btnSavePropertyRightPadding;
        height: $panelBtnPropertyHeight;
    }

    .tab-property-layout-tabs {

        padding: 1px;
        background-color: white;

        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding-bottom: $panelBtnPropertyHeight;
        margin-bottom: -1 * $panelBtnPropertyHeight;
    }
}