@mixin terminal-encashment-component {

    .terminal-encashment-wizard-footer {
        padding: 5px;
    }

    .terminal-encashment-wizard-content {
        padding: 5px;
    }

    .terminal-encashment-wizard-btn-left {
        //
    }

    .terminal-encashment-wizard-btn-right {
        //
    }

    #layoutDiscrepancyWizardStepTable .v-spacing {
        width: 5px;
    }

    #gridEncashment .v-table-footer-container {
        font-weight: bold;
    }
}