@mixin terminal-encashment-component {

    .terminal-encashment-wizard-footer {
        background-color: red;
    }

    .terminal-encashment-wizard-btn-left {
         float:right;
    }

    .terminal-encashment-wizard-btn-right {
        float:right;
    }
}