@mixin app-reporting-style {

    .app-reporting-style-margin-all-5px {
        margin: 10px;
    }

    .app-repoting-style-padding-all-5px {
        padding: 10px;
    }

    .app-repoting-style-space-padding {
        padding: 5px;
    }
}
