@mixin commons {

    .common-text-center {
        text-align: center;
    }

    .common-text-right {
        text-align: right;
    }

    .common-margin-up {
        margin-top: 5px;
    }

    .v-popupview {
        //color: red;
    }
    .v-popupview:hover {
        //color: red;
    }

    .v-popupview-popup {
        //background: #fff;
        //padding: 3px;
    }
}