@mixin app-version-component {

    .app-version {        
        text-align: right;
        font-size: 70%;
        color: lightgrey;
        font-weight: bold;
        padding: 2px 5px;
    }

    .app-version-login { 
        text-align: right;
        font-size: 70%;
        color: lightgrey;
        font-weight: bold;
    }
}
